<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
    <header>
        <h1>{{pageTitle}}</h1>
        <p><a href="/">Home</a></p>
        <p><a href="/about">About</a></p>
    </header>
</head>